/* Add logo into oneid notices */
.oneid-notice-message {
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: bottom right;
	background-blend-mode: color-burn;
	min-height: 50px;
}

.button.oneid,
#payment .place-order .button.oneid {
	font-size: 1em;
}

.oneid-skip-button,
.oneid-skip-confirm-message {
	margin-bottom: 5px;
}

.oneid-skip-confirm-message {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

#payment .oneid-skip-confirm-message .button.oneid {
	width: 49%;
}

.oneid-learn-link {
	padding-right: 15px;
	text-align: right;
	margin-top: 10px;
	line-height: 20px;
}

.oneid-learn-link a {
	text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
	#payment .oneid-skip-confirm-message .button.oneid {
		width: 100%;
	}
}
